NET "clk"		LOC = "C9";
NET "rst"		LOC = "K17";

NET "LCD_E" 	LOC = "M18" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RS" 	LOC = "L18" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_RW" 	LOC = "L17" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# The LCD four-bit data interface is shared with the StrataFlash.

NET "SF_D8" 	LOC = "R15" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D9" 	LOC = "R16" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D10" 	LOC = "P17" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "SF_D11" 	LOC = "M15" 	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;